//@import url(https://fonts.googleapis.com/css?family=Comfortaa:700) 

/*if located*/
@font-face
  font-family PFCentroSlabProBold
  font-weight normal
  font-style normal
  src url(/fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot)
  src url(/fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf)
  src url(/fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff)

@font-face
  font-family PFCentroSlabProMedium
  font-weight normal
  font-style normal
  src url(/fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot)
  src url(/fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf)
  src url(/fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff)

@font-face
  font-family RalewayBold
  font-weight normal
  font-style normal
  src url(/fonts/RalewayBold/RalewayBold.eot)
  src url(/fonts/RalewayBold/RalewayBold.ttf)
  src url(/fonts/RalewayBold/RalewayBold.woff)
  
@font-face
  font-family RalewayRegular
  font-weight normal
  font-style normal
  src url(/fonts/RalewayRegular/RalewayRegular.eot)
  src url(/fonts/RalewayRegular/RalewayRegular.ttf)
  src url(/fonts/RalewayRegular/RalewayRegular.woff)
  
@font-face
  font-family RalewaySemiBold
  font-weight normal
  font-style normal
  src url(/fonts/RalewaySemiBold/RalewaySemiBold.eot)
  src url(/fonts/RalewaySemiBold/RalewaySemiBold.ttf)
  src url(/fonts/RalewaySemiBold/RalewaySemiBold.woff)
  
@font-face
  font-family RobotoBold
  font-weight normal
  font-style normal
  src url(/fonts/RobotoBold/RobotoBold.eot)
  src url(/fonts/RobotoBold/RobotoBold.ttf)
  src url(/fonts/RobotoBold/RobotoBold.woff)
  
@font-face
  font-family ResagokrBold
  font-weight normal
  font-style normal
  src url(/fonts/ResagokrBold.ttf)
  
@font-face
  font-family ResagokrRegular
  font-weight normal
  font-style normal
  src url(/fonts/ResagokrRegular.ttf)
